@model WebApplication1.Models.Szyfry
@{
    ViewData["Title"] = "Szyfr Polibiusza";
}

<h1>@ViewData["Title"]</h1>

<p>Tutaj bedzie obliczany szyfr polibiusza</p>

@using (Html.BeginForm("Szyfr_polibiusza", "Home", FormMethod.Post))
{
    @Html.ValidationSummary()
    ;
    <span>Wpisz tutaj tekst który chcesz zaszyfrować:</span> @Html.TextBoxFor(x => x.tekst)
    <span>Chcesz dodatkowo zaszyfrować dany tekst?</span>

    @Html.CheckBoxFor(y => y.taknie)

    <button type="submit">Zatwierdź szyfr</button>
    <p>Tutaj widzisz swój wynik: <strong>@TempData["Wynik"]</strong></p>


}
@using (Html.BeginForm("Szyfr_polibiusza2", "Home", FormMethod.Post))
{
    @Html.ValidationSummary()
    ;
    <span>Wpisz tutaj tekst który chcesz odszyfrować:</span> @Html.TextBoxFor(c => c.tekst)
    <span>Czy tekst został dodatkowo zaszyfrowany?</span>

    @Html.CheckBoxFor(b => b.taknie)


    <button type="submit">Zatwierdź szyfr</button>
    <p>Tutaj widzisz swój wynik: <strong>@TempData["Wynik2"]</strong></p>


}
